.app-form {
  font-size: 16px;
  background: transparent;
  text-align: left;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: 300px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px black;
}

.app-form .form-caption {
  margin-top: 20px;
}

/* Keeps a consistent style for all inputs we're using. */
.app-form input[type="text"],
.app-form input[type="password"],
.app-form input[type="number"],
.app-form input[type="date"] {
  color: black;
  background: transparent;
  box-sizing: border-box;
  width: 250px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 40px;
}

.app-form input[type="submit"] {
  color: white;
  background-color: #454545;
  display: block;
  padding: 15px;
  margin: 10px 0;
  width: 250px;

  text-align: center;
  border: solid 1px black;
  border-radius: 40px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
}

.app-form input[type="submit"]:hover {
  background-color: #222222;
}
