@import url("form.css");
@import url("navbar.css");
@import url("table.css");



/* Global settings for all selectors. */
.page-container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
  background-size: cover;
  background-position: center;
}

.app-header,
.app-footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-image: url('https://media.istockphoto.com/id/1089282134/photo/abstract-3d-black-cubes-background.webp?b=1&s=170667a&w=0&k=20&c=Hn9DL36K8q6yfitw7bffRYRX7mmJsDZbEjttXHb-JX8=');
  background-size: cover;
  background-position: center;
  background-color: #454545;
  border: solid 2px black;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  
}

/* Used to control the panels for the User Homepage. */
.panel-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.left-pane,
.right-pane {
  flex: 1;
  padding: 20px;
  border: solid 2px black;
}

.left-pane {
  margin-left: 5%;
  margin-right: 2%;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px black;
}

.right-pane {
  margin-right: 5%;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px black;
}

/* Properties for the apply changes box in the update profile menu */
#update-button {
  width: 350px; 
  height: 50px; 
  background-color: lightgreen;
  border-radius: 40px;
  box-shadow: 0 0 10px black;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

/* Properties for the state dropdown box */
#state{
  background: transparent;
  border-radius: 40px;
  color: black;
  border: 1px solid white;
  font-size: 14px;
}
